
<suite name="CRD Rebalance Automation Suite" >

    <!-- GLOBAL PARAMETERS -->
    <parameter name="baseUrl" value="file:///C:/Jyoti/JM-CVV/CRD/preview%20(1).html"/>
    <parameter name="totalAsset" value="100000"/>

    <!-- UI Tests -->
    <test name="UI Rebalance Tests">
        <packages>
            <package name="tests.ui"/>
        </packages>
    </test>   

</suite>